.footer {
    background-color: black; 
    color: white; 
    padding: 10px 20px; 
    text-align: center; 
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%; 
}

.footer p {
    margin: 0; 
}
